<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sfccuserprofileservice0811b3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/34a6be27-8d3b-488d-9a63-c9ae2d7abfad/resourcegroups/userprofile_rg/providers/Microsoft.Web/sites/SFCCUserProfileService0811b3</ResourceId>
    <UserName>$SFCCUserProfileService0811b3</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sfccuserprofileservice0811b3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>