<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sfccuserprofileservice0726.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/264a2087-c116-4fbf-a051-7209921e0896/resourcegroups/rgSLTerraformRTQwpi/providers/Microsoft.Web/sites/SFCCUserProfileService0726</ResourceId>
    <UserName>$SFCCUserProfileService0726</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sfccuserprofileservice0726.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>